{% extends 'base.html.twig' %}

{% block title %}Ajouter un Medecin{% endblock %}

{% block body %}
    <div class="mx-auto" style="width: 600px;">
        <h1>Ajouter un Medecin</h1>
        {{ include('medecin/_form.html.twig') }}
    </div>
{% endblock %}
