<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        {% block stylesheets %}
            <link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css" media="screen">
            <link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.css">
            
        {% endblock %}
    </head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-xl">
          <a class="navbar-brand" href="">SUNU HOPITAL</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07XL" aria-controls="navbarsExample07XL" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarsExample07XL">
            
          </div>
          <ul class="form-inline my-2 my-md-0 navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link " href="{{ path('specialite') }} " tabindex="-1" aria-disabled="true">SPECIALITE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="{{ path('services') }}  " tabindex="-1" aria-disabled="true">SERVICES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href=" {{ path('medecin') }} " tabindex="-1" aria-disabled="true">MEDECIN</a>
            </li>
          </ul>
        </div>
      </nav>
        <div class="container mt-1">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
  </body>
</html>
