{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}
    
    <div class="mx-auto " style="width: 700px;margin-top:150px;  ">
        
            <div class="container-fluid">
                <div class="text-center">
                <h1 class="h1" style="font-size: 3em; font-weight :500; ">Bienvenue sunu hopital</h1>
                <p class="h4 lead">
                    Les hôpitaux sont donc bien placés pour faire <br>se rencontrer les  logiques curative et préventive,<br>  en contribuant à sensibiliser des publics très hétérogènes : <br> les usagers bien sûr, mais aussi les millions de visiteurs<br> et le million de  professionnels qui y travaillent. 
                    A l'hôpital, <br> les principaux projets de promotion <br>de la santé concernent souvent <br>
                    l'éducation à la santé des patients. 
                </p>
            </div>
        </div>
    </div>     
{% endblock %}
