{% extends 'base.html.twig' %}

{% block title %}Modifier Specialite{% endblock %}

{% block body %}
<div class="mx-auto" style="width: 500px;">
    <h1>Modifier un Specialite</h1>

    {{ include('specialite/_form.html.twig', {'button_label': 'Modofier'}) }}


    {{ include('specialite/_delete_form.html.twig') }}
</div>
{% endblock %}
